.SearchInputWrapper {
    display: flex;
    align-items: center;
    width: 400px;
}

.Input {
    margin-left: 1rem;
    width: 90%;
}

.Divider {
    border: 1px solid #d1d1d1;
    height: 30px;
}

.CloseIcon button span svg {
    width: 1rem;
    height: 1rem;
}

.LogoText {
    margin-right: 35px;
    font-size: larger;
    font-weight: 900;
    font-style: italic;
    font-family: -webkit-pictograph
}

.ShoppingCartIcon {
    width: 2rem!important;
    height: 2rem!important;
    color: white
}

.Spacer {
    flex: 1 1 auto;
}