.Container {
    text-align: center;
    width: 80vw;
    margin: 0 auto;
    background-color: white;
    display: flex; 
    flex-flow: column; 
    place-content: center; 
    align-items: center;
    flex-grow: 1;
}

.ContinueButton{
    margin: 20px 0
}