.ProductContainer {
    margin: 0 4px 10px;
    width: calc(20% - 8px);
}

.Card {
    border-radius: 0;
}

@media (max-width: 1240px) {
    .ProductContainer {
        width: calc((1/4)*100% - 8px);
    }
}

 @media (max-width: 1024px) {
    .ProductContainer {
        width: calc((1.66667/5)*100% - 8px);
    }
}

@media (max-width: 850px) {
    .ProductContainer {
        margin: 0 4px 20px;
        width: calc(50% - 8px);
    }
}

@media (max-width: 600px) {
    .ProductContainer {
        margin: 0 4px 20px;
        width: calc(100% - 8px);
    }
}

.Divider {
    margin: 0 5px;
    border-left: 1px solid black;
    height: 33px;
}

.ProductTitle {
    height: 50px;
    max-height: 50px;
    font-size: 14px;
    text-align: center;
}

.ProductImage {
    object-fit: scale-down!important;
}

.ProductPrice {
    text-align: center;
}

.MuiCardActions-root {
    place-content: center;
}

.ProductInfo {
    border: 1px solid black;
    padding: 5px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;                                   
}

.ProductCount {
    padding: 0 10px;
}

.MuiCardActionArea {
    place-content: center;
}