
.SummaryHeader {
    font-size: 20px;
    font-weight: bolder
}

.SummaryDivider {
    margin: 15px 0!important;
}

.SummaryFee {
    display: flex;
    flex-flow: row;
    place-content: space-between;
    margin-bottom: 5px;
}

.CheckoutButton {
    width: -webkit-fill-available;
}