.Content {
    width: 330px
}

.ArrowLeft {
    width: 2rem;
    height: 2rem
}

.ContentWrapper {
    padding: 0 12px
}

.TotalItemWrapper {
    margin: 15px 0;
    display: flex; 
    flex-flow: row;
    align-items: center
}

.TotalAmountWrapper {
    margin: 15px 0
}

.Amount {
    display: flex; 
    flex-flow: row;
    align-items: center;
    margin-top: 15px;
    font-weight: bolder;
    place-content: space-between
}

.CheckoutBtn {
  width: -webkit-fill-available;
  margin: 15px 0;
  border-radius: 0
}

.ProductBody {
  overflow: auto;
  box-sizing: border-box;
  height: calc(100vh - 193px);
  padding: 12px
}

.ProductWrapper {
    display: flex;
    flex-flow: row;
    place-content: space-between;
    height: 85px;
    margin: 15px 0;
    max-width: 100%
}

.ProductImg {
    min-width:70px;
    width: 70px;
    padding: 8px;
    box-sizing: border-box
}

.ProductInfo {
    display: flex;
    flex-flow: column;
    place-content: space-between;
    flex-grow: 1;
    padding: 8px 0;
    margin-left: 10px
}

.ProductDetail {
    display: flex; 
    flex-flow: row;
    align-items: center;
    place-content: space-between; 
    margin-bottom: 10px
}

.ProductTitle {
    flex-grow: 1;
    width: 130px;
    max-width: 130px;
    font-size: 15px
}
