.ImgOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px rgba(0,0,0,.8);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; 
}

