.ProductCard {
    margin-bottom: 10px;
    border-radius: 0!important;
}

.RemoveIcon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.CardContentRemoveIcon {
    display: none;
}

.CardContent {
    display: flex;
    align-items: center;
}

.ProductImage {
    width: 70px;
    box-sizing: border-box;
}

.Price {
    font-size: 20px;
    font-weight: bolder
}

@media (min-width: 1200px) {
    .RemoveIcon {
        display: none;
    }

    .CardContentRemoveIcon {
        display: flex;
        align-items: center;
    }
}