.ActionLink {
    color: blue;
    cursor: pointer;
}

.DialogTitle {
    background-color: #3f51b5;
    color: #ffffff;
}

.ErrorMessage {
    padding: 0 24px;
    font-weight: bolder;
    color: red;
}

.Content {
    width: 400px;
}

.ActionContainer {
    place-content: flex-start space-between!important;
    padding: 8px 24px!important;
}
