.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Container {
    padding: 1rem 2rem;
    background: white;
}

.HeaderWrapper {
    display: flex;
    flex-direction: row;
    place-content: space-between;
    margin: 20px 0
}

.HeaderTitle {
    font-size: 30px;
    font-weight: bolder;
}

.Actions {
    display: flex;
}
  
.Actions button {
    margin-right: 10px;
}