.OrderCard {
    box-shadow: 
        0px 1px 3px 0px rgba(0,0,0,0.2), 
        0px 1px 1px 0px rgba(0,0,0,0.14),
        0px 2px 1px -1px rgba(0,0,0,0.12);
    margin: 15px 0;
    padding: 10px 20px
}

.ProductsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ProductImgContainer {
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0 5px;
}

.DetailBlock {
    display: flex;
    flex-direction: row;
    align-items: center
}

.Spacer {
    flex-grow: 1
}