.ProductQuantityWrapper {
    height: 35px;
    display: flex;
    width: 100%;
    max-width: 200px;
    padding: 0 20px;
}

.ProductQuantity {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 5px;
    border: 1px solid #999;
}

.Input {
    height: 33px;
    border: 1px solid #999;
    border-radius: 0;
    padding-right: 32px;
    padding-left: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    background-color: #fff;
    color: #231f20;
    width: 100%;
    text-align: center;
    line-height: 40px;
    padding: 0 8px;
    cursor: text;
}

.ProductUnit {
    height: 36px;
    padding: 0 6px;
    line-height: 33px;
    right: 15px;
    top: 2px;
}

.ControlsButtonWrapper {
    display: flex;
    width: 90px;
    max-width: 90px;
}

.ControlsButton {
    min-width: 40px!important;
    margin-right: 5px!important;
}

.ProductDivider {
    border-left: 1px solid black;
    height: 33px
}

.CartDrawerInput {
    width: 70px
}

.CartDrawerQuantityWrapper {
    padding: 0;
}

input:focus{
    outline: none;
}